<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <style>
        *{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>试用成功</h1>
    <h3>工作人员审核通过后会与您联系。</h3>
</body>
{#<script>#}
{#    window.setTimeout(function(){#}
{#        window.location.href="{{ url_for('index') }}";#}
{#    },3000);#}
{#</script>#}
</html>