body{
    margin:0 5px;
}
.mui-input-row-button{
    margin:25px 0;
}
.logo{
    padding-top:5px;
    text-align:center;
    max-width:600px;
    margin:0 auto;
}
.logo h1{
    font-size: 1rem;
}
.logo img{
    width:40%;
    min-width:150px;
}
.mui-btn-block{
    padding:5px 0;
}



button{
    background: #000000 !important;
    border:1px solid #000000 !important;
}
